@import url('https://fonts.googleapis.com/css?family=Roboto:400');

.App {
  text-align: center;
  font-family: 'Roboto';
}

.App-header {
  background-color: #282c34;
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-main {
  background-color: #282c34;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.App-footer {
  background-color: #282c34;
  height: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-textarea {
  background-color: #1b1b1b;
  color: white;
  border-radius: 0.4rem;
  width: 80vw;
  font-family: 'Roboto';
  font-size: medium;
  height: 18vh;
  font-weight: 200;
  resize: none;
  margin-top: 1vh;
  padding: 1vw;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


button {
  display: block;
  width: 25vw;
  align-self: flex-end;
  margin: 2rem;
  margin-right: 9vw;
  padding: 1rem;
  background: linear-gradient(to right, #4e9574 50%, #fff 50%);
  background-size: 200% 100.5%;
  background-position: right bottom;
  font: 1.5em 'Roboto';
  font-weight: 900;
  color: #020202;
  border: none;
  border-left: 0.20em solid #4e9574;
  border-color: none;
  border-radius: 2rem;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.08);
  transition: all .5s ease-out;
}

button:hover {
  background-position: left bottom;
  color: white
}
